.chat {
    flex: 2;
}

.chatInfo {
    height: 4em;
    background-color:  #1F4287;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    padding: 0.6em;
    color: lightgray;
}

.chatInfo span {
    font-size: 1.3rem;
    font-weight: bold;
}

.chatIcons {
    display: flex;
    gap: 0.6em;
}

.chatIcons img {
    height: 1.5em;
    cursor: pointer;
}