.logo {
    color: #ddddf7;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #2f2d52;
    height: 4em;
    padding: 1em;
    justify-content: space-between;
    color: #ddddf7;
}

.user {
   display: flex;
   gap: 0.6em; 
}

.user img {
    background-color: #ddddf7;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    object-fit: cover;
}

.user button {
    background-color: #5d5b8d;
    color: #ddddf7;
    font-size: 0.6em;
    border: none;
    padding: 0.4em 0.8em;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    
}

@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .user button {
        position: absolute;
        bottom: 0.6em;
    }
}

@media screen and (max-width: 1200px) {
    
}