.search {
    border-bottom: 1px solid gray;
}

.searchForm {
    padding: 0.6em;

} 

.searchForm input {
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
}

.searchForm input::placeholder {
    color: lightgray;
}
 
.userChat {
    padding: 0.6em;
    display: flex;
    align-items: center;
    gap: 0.6em;
    color: #fff;
    cursor: pointer;
}

.userChat:hover {
    background-color: #2f2d52;
}


.userChat img {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    object-fit: cover;
}